@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    @Model.OrdinalOfCurrentChallenge: @Model.ChallengeText
</h1>

<form method="post">
    <button type="submit">Next</button>
</form>